@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

#content {
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  transition: all 0.3s;
  background: #ffeaea;
}

.body {
  font-family: 'Poppins', sans-serif;
  background: #fcdede;
}
